<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Your result</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<h1>Hello, you can find your result here</h1>
<a href="http://jlabs.co/wadi/query_result/{{filename}}.csv">Download file</a>

<form>
  <input type="file" id="upload">
  <button type="submit">Submit</button>
</form>

<script>
  $(document).ready(function(){
    var file;

   document.getElementById('upload').addEventListener('change', function(){
    file = this.files[0];
    // This code is only for demo ...
    console.log("size : " + file.size);
    console.log("type : " + file.type);
    console.log("date : " + file.lastModified);
   }, false);

    function uploadFile(file){
      var url = 'http://45.55.72.208/wadi/upload';
      var xhr = new XMLHttpRequest();
      var fd = new FormData();
      xhr.open("POST", url, true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
          // Every thing ok, file uploaded
          console.log(xhr.responseText); // handle response.
        }
      };
      fd.append("upload", file);
      fd.append('filename', "{{filename}}")
      xhr.send(fd);
    }
    $('form').on('submit', function() {uploadFile(file)})
  })
</script>
</body>
</html>