<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Your result</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<h1>Hello, you can find your result here</h1>
<a href="http://jlabs.co/wadi/query_result/{{filename}}.csv">Download file</a>

<form>
  <input type="file" id="upload">
</form>

<script>
  $(document).ready(function(){
    var file;

   document.getElementById('upload').addEventListener('change', function(){
    file = this.files[0];
    // This code is only for demo ...
    console.log("size : " + file.size);
    console.log("type : " + file.type);
    console.log("date : " + file.lastModified);
   }, false);

   /*
    function uploadFiles(event)
    {
    event.stopPropagation(); // Stop stuff happening
    event.preventDefault();  // Totally stop stuff happening

    // START A LOADING SPINNER HERE

    // Create a formdata object and add the files
    var data = new FormData();
    $.each(files, function(key, value)
    {
    data.append(key, value);
    });

    $.ajax({
    url: 'http://45.55.72.208/wadi/upload?file={{filename}}',
    type: 'POST',
    data: data,
    cache: false,
    dataType: 'json',
    processData: false, // Don't process the files
    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
    success: function(data, textStatus, jqXHR)
    {
    if(typeof data.error === 'undefined')
    {
    // Success so call function to process the form
    submitForm(event, data);
    }
    else
    {
    // Handle errors here
    console.log('ERRORS: ' + data.error);
    }
    },
    error: function(jqXHR, textStatus, errorThrown)
    {
    // Handle errors here
    console.log('ERRORS: ' + textStatus);
    // STOP LOADING SPINNER
    }
    }); */

  })
</script>
</body>
</html>