  <form class="form-horizontal">

    <div class="row">
    <div class="col-md-6">
      <h3>Configure Target consumer</h3>

    </div>

    <div class="col-md-6">
      <h3>Configure Campaign</h3>
      <div class="panel panel-primary">
        <div class="panel-heading">SMS content</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-2">Arabic</label>
            <div class="col-sm-10">
              <input type="text" dir="rtl" class='form-control' name="Arabic" ng-model="campaign.text.arabic">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">English</label>
            <div class="col-sm-10">
              <input type="text" class='form-control' name="English" ng-model="campaign.text.english">
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Execution date time (Riyadh timezone)</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-2">Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="campaign.date" placeholder="mm/dd/yyyy">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Time</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="campaign.time" placeholder="HH:mm">
            </div>
          </div>
        </div>
    </div>

    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="form-group">
            <button class="btn btn-success form-control" ng-click="submit()">Submit</button>
        </div>
      </div>

    </div>
  </form>
