.row
  form.form-horizontal
    .col-sm-6
      .form-group-lg
        label.form-control.col-sm-4 Test select
        .div(ng-dropdown-multiselect='' options='sampleData' selected-model='selected')
    .col-sm-6
      {{ selected }}
